.header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 25px;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.divContent {
    font-size: 25px;
}

.gameField {
    position: relative;
    margin-top: 26px;
}

.tableScore {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 20px;
    background: rgba(52, 168, 184, 0.527);
    color: #d13838;
    border: 10px solid #ECE9E0;
    border-radius: 20px;
    margin-top: 30px;
}

th {
    font-size: 20px;
    padding: 10px;
}

td {
    background: #F5D7BF;
    padding: 10px;
}

canvas {
    border: 2px solid #d3d3d3;
}